* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    margin: 0;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 10px;
}

header {
    z-index: 1;
    align-items: center;
    width: 200px;
    
    
}

p, span {
    color: hsl(0, 36%, 70%);
    
}

p {
    word-spacing: 5px;
    font-size: 18px;
    line-height: 1.4;
}

span {
    font-weight: 300;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.left {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    
}

.right {
    background-image: url('/images/hero-desktop.jpg');
    width: 100%;
    height: auto;
    
   
}
img {
    width: 100%;
}

div.right {
    width: 67%;
    
}